<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/styles.css') }}">
    <title>Image Encryption</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

    <body>
        <h1>Image Encryption</h1>
        <form>
          <input type="file" id="imageUpload" accept=".jpg, .jpeg, .png" onchange="displayImage(event)">
        </form>
        <div id="imageContainer">
            <img id="uploadedImage">
        </div>
        <div id="submitButtonContainer">
            <button id="submitButton">Submit</button>
        </div>
        <div id="output"></div>
    </body>
    
    <script>
        const submitButton = document.getElementById("submitButton");
        const imageUpload = document.getElementById("imageUpload");

        submitButton.addEventListener("click", function() {
            const formData = new FormData();
            formData.append("image", imageUpload.files[0]);

            fetch("/encryption", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const imageUrl = data.imageUrl;
                window.location.href = `/result?imageUrl=${encodeURIComponent(imageUrl)}`;
            })
            .catch(error => console.error(error));
        });

    function displayImage(event) {
        const image = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function () {
            const imageContainer = document.getElementById("imageContainer");
            const uploadedImage = document.getElementById("uploadedImage");

            uploadedImage.setAttribute("src", reader.result);
            uploadedImage.setAttribute("id", "uploadedImage");
            uploadedImage.style.maxWidth = "100%";
            uploadedImage.style.maxHeight = "100%";

                imageContainer.innerHTML = "";
                imageContainer.appendChild(uploadedImage);
            }
            reader.readAsDataURL(image);
        }
        
    </script>
</html>