<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/styles.css') }}">
    <title>Image Encryption</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body id="index">
    <header>
        <div id="login">
            <button id="loginButton">Sign up or Login</button>
        </div>
    </header>

    <h1 id="indexh">Image Encryption</h1>
    <form id="imageForm">
        <input type="file" id="imageUpload" accept=".jpg, .jpeg, .png" onchange="displayImage(event)">
    </form>
    <div id="imageContainer">
        <img id="uploadedImage">
    </div>
    <div id="submitButtonContainer">
        <button id="submitButton">Submit</button>
    </div>
    <div id="progressBarContainer">
        <div id="progressBar"></div>
    </div>
    <div id="result"></div>
</body>

<script>
    const submitButton = document.getElementById("submitButton");

    $(document).ready(function () {
        $('#loginButton').click(function () {
            window.location.href = "registration";
            console.log("login button clicked")
        });
    });

    $(document).ready(function () {
        $('#imageForm').submit(function (event) {
            event.preventDefault();


        });
    });
    submitButton.addEventListener("click", function () {
        $('#imageForm').submit();
        var formdata = new FormData($('#imageForm')[0])

        $.ajax({
            url: '/encryption',
            type: 'POST',
            data: formdata,
            processData: false,
            contentType: false,
            success: function (data) {
                $('#result').html(data);
            }
        });
    });
    function displayImage(event) {
        const image = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function () {
            const imageContainer = document.getElementById("imageContainer");
            const uploadedImage = document.getElementById("uploadedImage");

            uploadedImage.setAttribute("src", reader.result);
            uploadedImage.setAttribute("id", "uploadedImage");
            uploadedImage.style.maxWidth = "100%";
            uploadedImage.style.maxHeight = "100%";

            imageContainer.innerHTML = "";
            imageContainer.appendChild(uploadedImage);
        }
        reader.readAsDataURL(image);
    }



</script>

</html>